.footer-outer-container{
    color: #fff;
    max-width: 65%;
    margin: auto;
    margin-bottom: 3rem;
}
.content-box{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.content-box ul :hover{
cursor: pointer;
text-decoration: underline;
}
.content-box ul{
    list-style: none;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #808080;
}
.footer-icons ul :hover{
    cursor: pointer;
}
.footer-icons ul{
display: flex;
list-style: none;
gap: 1rem;

}
.footer-icons svg{
    font-size: 2rem;
}
.server-code{
    font-size: 1.3rem;
    border: solid 0.1rem #fff;
    width: fit-content;
    padding: 0.3rem 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    color: #808080;
}
.server-code ul{
    list-style: none;
    margin: 0.2rem;  
}
.copy-right ul{
    list-style: none;
    color: #808080;
    
}