.row-outer-countainer{
  max-width: 95%;
 margin: auto;
 margin-bottom: 2rem;
}
.row-container{
  display: flex;
  gap: 2rem;
 overflow-x: scroll;
 
}
.row-container::-webkit-scrollbar{
  display: none;
}
.row-outer-countainer img{
  max-width: 30.1rem;
}
h3{
  color: #fff;
   font-size: 2.5rem;
   margin-bottom: 1rem;
   
}